react-toastify==9.1.3 //react-toastify is a React library used to show toast notifications — small popup messages that appear temporarily on the screen
 tailwindcss==3.3.2
react-router-dom==6.14.1
clerk-react==4.8.3 The @clerk/clerk-react library is used to add authentication and user management to your React app without building it from scratch. 
k-convert
moment